<!doctype html>
<html>
  <head>
    <title>Sapher</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//static.sapher.dev:3000/css/main.css">
    <script data-main="//static.sapher.dev:3000/apps/sapher/main" src="//static.sapher.dev:3000/lib/require.js"></script>
  </head>
  <body>
    <header id="header">
      <div id="header-logo">Sapher</div>
      <div id="header-nav"></div>
      <div id="header-user" ng-controller="UserCtrl">
        <ul ng-if="user.isAuthenticated">
          <li><a href="#" ng-bind="user.name"></a></li>
          <li><a href="#">Sign out</a></li>
        </ul>
        <ul ng-if="user.isAnonymous">
          <a href="#">Sign in</a>
          <a href="#">Sign up</a>
        </ul>
      </div>
    </header>
  </body>
</html>
